
<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
#section1 {
	padding-top: 50px;
	height: 500px;
	color: black;
	background-color: white;
}
</style>
<style>
* {
	box-sizing: border-box;
}

select {
	position: absolute;
	right: 0px;
	padding: 9px;
}

.box {
	float: left;
	width: 50%;
	padding: 50px;
	height: 300px;
	height: 300px;
	overflow-y: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.exp {
	padding-left: 67px;
	margin-bottom: 28px;
}

div.container {
	display: none;
}
</style>
</head>
<body>

	<div class="container1">
		<h2 align="center">Interview helper</h2>
	</div>
	<div class="exp" align="left">
		<label>Select Experience</label> <br>
		<form action="">

			<select id="experience" name="experience"
				onchange="getSelectValue();"
				style="width: 41%; padding: 10px; position: relative;">
				<option value="">-Select Experience-</option>
				<option th:each="labelName : ${labelName}" th:value="${labelName}"
					th:text="${labelName}"></option>

			</select> <span id="experienceError"> </span>

		</form>
	</div>
	<div class="container">
		<div class="hiddshow">

			<div class="box">
				<form action="save" id='myform' method="post">
					<div id="section1" class="container-fluid">
						<div style="position: relative;">
							<label> 1. communication </label> <select name="communication"
								id="communication" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select>



							<hr>

							<label> 2. Basic of Web Devlopment</label> <select
								name="basicweb" id="basicweb" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select>

							<p>HTML5</p>
							<p>CSS</p>
							<p>JavaScript</p>

							<hr>

							<label> 3. OOPS</label> <select name="opp" id="opp" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select>



							<hr>

                              <label>4. Programming Langauge/framework</label>
							 <select name="program"
								id="program" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>
							<p>Programming Language (PBP/FRAMEWORD/CMS)</p>

							<br>

							<hr>

							<label>5. Version Control</label> <select name="versioncontroll"
								id="versioncontroll" required="required"
								onchange="Versioncontroller();">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>

							<p>Git/SVN</p>

							<hr>

							<label>4. Database</label> <select name="databse" id="databse"
								required="required" onchange="Databses();">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>
							<p>RelationalDB(mySQL/Postgres/mssql)</p>


							<hr>

							<label>7. Basic Concept</label> <select name="basicconcepts"
								id="basicconcepts" required="required"
								onchange="Basicconceptss();">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>
							<p>Authentication</p>
							<p>Single factor Authentication</p>
							<p>API</p>
							<p>What is An Api</p>


							<button type="button"
								style="width: 101%; padding: 8px; position: relative;"
								class="btn btn-success">Submit</button>
						</div>

					</div>

				</form>
			</div>










		</div>




		<!-- ------------- -->
		<p align="center" style="font-weight: bold">Result</p>
		<div class="box" style="background-color: #ccc">


			<p>
				1. communication : <span id="comm"></span>
			</p>
			<p>
				2. basic of web devlopment : <span id="bas"></span>
			</p>
			<p>
				3. oops :<span id="opps"></span>
			</p>
			<p>
				4. Programming Langauge/framework :<span id="pogr"></span>
			</p>
			<p>
				5. version controller :<span id="version"></span>
			</p>
			<p>
				6. Database :<span id="database"></span>
			</p>
			<p>
				7. basic concept :<span id="basicconcept"></span>
			</p>

			<b>---------------------------</b>
			<p style="font-weight: bold">The Results is :</p>
			<p style="font-weight: bold">overall grade :</p>



		</div>

	</div>




	<script type="text/javascript">
		$(document).ready(function() {

			$("#comm").hide();
			$("#bas").hide();
			$("#opps").hide();
			$("#pogr").hide();
			$("#version").hide();
			$("#database").hide();
			$("#basicconcept").hide();

			var comm = false;
			var bas = false;
			var opps = false;
			var pogr = false;
			var version = false;
			var database = false;
			var basicconcept = false;

			$("#communication").change(function() {

				validate_Communication();
			});

			$("#basicweb").change(function() {

				validate_Basic();
			});

			$("#opp").change(function() {

				validate_Opps();
			});

			$("#program").change(function() {

				validate_Programs();
			});

			$("#versioncontroll").change(function() {

				validate_VersionControl();
			});

			$("#databse").change(function() {

				validate_databse();
			});
			$("#basicconcepts").change(function() {

				validate_BasicConcept();
			});

			function validate_BasicConcept() {
				var val = $("#basicconcepts").val();
				val = val.slice(-1);
				if (val != '') {

					$("#basicconcept").html(val + "/5");
					$("#basicconcept").show();
					basicconcept = false;
				} else {
					$("#basicconcept").hide();
					basicconcept = true;
				}
				return basicconcept;
			}
			function validate_databse() {
				var val = $("#databse").val();
				val = val.slice(-1);
				if (val != '') {

					$("#database").html(val + "/5");
					$("#database").show();
					database = false;
				} else {
					$("#database").hide();
					database = true;
				}
				return database;
			}

			function validate_Programs() {
				var val = $("#program").val();
				val = val.slice(-1);
				if (val != '') {

					$("#pogr").html(val + "/5");
					$("#pogr").show();
					pogr = false;
				} else {
					$("#pogr").hide();
					pogr = true;
				}
				return pogr;
			}

			function validate_VersionControl() {
				var val = $("#versioncontroll").val();
				val = val.slice(-1);
				if (val != '') {

					$("#version").html(val + "/5");
					$("#version").show();
					version = false;
				} else {
					$("#version").hide();
					version = true;
				}
				return version;
			}

			function validate_Opps() {
				var val = $("#opp").val();
				val = val.slice(-1);
				if (val != '') {

					$("#opps").html(val + "/5");
					$("#opps").show();
					opps = false;
				} else {
					$("#opps").hide();
					opps = true;
				}
				return opps;
			}

			function validate_Basic() {
				var val = $("#basicweb").val();
				val = val.slice(-1);
				if (val != '') {

					$("#bas").html(val + "/5");
					$("#bas").show();
					bas = false;
				} else {
					$("#bas").hide();
					bas = true;
				}
				return bas;
			}

			function validate_Communication() {
				var val = $("#communication").val();
				val = val.slice(-1);
				if (val != '') {

					$("#comm").html(val + "/5");
					$("#comm").show();
					comm = false;
				} else {
					$("#comm").hide();
					comm = true;
				}
				return comm;
			}

		});

		var selectedValue = "";
		function getSelectValue() {
			selectedValue = document.getElementById("experience").value;

			if (selectedValue == '') {

				$(" div.container").hide();
			} else {
				$(" div.container").show();
			}
		}

		
	</script>


</body>


</html>
