
<!DOCTYPE html>
<html>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<script src="/home.js"></script>
<style>
#section1 {
	padding-top: 50px;
	height: 500px;
	color: black;
	background-color: white;
}
</style>
<style>
* {
	box-sizing: border-box;
}

select {
	position: absolute;
	right: 0px;
	padding: 9px;
}

.box {
	float: left;
	width: 50%;
	padding: 50px;
	height: 300px;
	height: 300px;
	overflow-y: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.exp {
	padding-left: 67px;
	margin-bottom: 28px;
}

div.container {
	display: none;
}
</style>
</head>
<body>

	<div class="container1">
		<h2 align="center">Interview helper</h2>
	</div>
	<div class="exp" align="left">
		<label>Select Experience</label> <br>
		<form action="">

			<select id="experience" name="experience"
				onchange="getSelectValue();"
				style="width: 41%; padding: 10px; position: relative;">
				<option value="">-Select Experience-</option>
				<option th:each="labelName : ${labelName}" th:value="${labelName}"
					th:text="${labelName}"></option>

			</select> <span id="experienceError"> </span>

		</form>
	</div>
	<div class="container">
		<div class="hiddshow">

			<div class="box">
				<form id="myform" name="myform" method="post">
				
					<div id="section1" class="container-fluid">
						<div style="position: relative;">
							<label> 1. communication </label> <select name="communication"
								id="communication" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select>



							<hr>

							<label> 2. Basic of Web Devlopment</label> <select
								name="basicweb" id="basicweb" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select>

							<p>HTML5</p>
							<p>CSS</p>
							<p>JavaScript</p>

							<hr>
                            
							<label> 3. OOPS</label> <select name="opp" id="opp" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select>



							<hr>

                              <label>4. Programming Langauge/framework</label>
							 <select name="program"
								id="program" required="required">
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>
							<p>Programming Language (PBP/FRAMEWORD/CMS)</p>

							<br>

							<hr>

							<label>5. Version Control</label> <select name="versioncontroll"
								id="versioncontroll" required="required"
								>
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>

							<p>Git/SVN</p>

							<hr>

							<label>4. Database</label> <select name="databse" id="databse"
								required="required" >
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>
							<p>RelationalDB(mySQL/Postgres/mssql)</p>


							<hr>

							<label>7. Basic Concept</label> <select name="basicconcepts"
								id="basicconcepts" required="required"
								>
								<option value="">-Select Experience-</option>
								<option th:each="skill : ${skill}" th:value="${skill}"
									th:text="${skill}"></option>
							</select> <br>
							<p>Authentication</p>
							<p>Single factor Authentication</p>
							<p>API</p>
							<p>What is An Api</p>


							<button type="submit"
								style="width: 101%; padding: 8px; position: relative;"
								class="btn btn-success">Submit</button>
						</div>

					</div>

				</form>
			</div>










		</div>




		<!-- ------------- -->
		<p align="center" style="font-weight: bold">Result</p>
		<div class="box" style="background-color: #ccc">


			<label>
				1. communication : <span id="comm"></span>
			</label>
			<br>
			<label>
				2. basic of web devlopment : <span id="bas"></span>
			</label>
			<br>
			
			<label>
				3. oops :<span id="opps"></span>
			</label>
			<br>
			
			<label>
				4. Programming Langauge/framework :<span id="pogr"></span>
			</label>
			<br>
			
			<label>
				5. version controller :<span id="version"></span>
			</label>
			<br>
			<label>
				6. Database :<span id="database"></span>
			</label>
			<br>
			<label>
					7. basic concept :<span id="basicconcept"></span>
			</label>
			<br>
			<b>---------------------------</b>
			<p style="font-weight: bold">The Results is : <span id="postResultDiv"></span></p>
			



		</div>

	</div>


</body>


</html>
