$(document).ready(function() {
    $('#sampleForm').submit(
        function(event) {
            var communication = $('#communication').val();
            var basicweb = $('#basicweb').val();               
            var data = 'firstname='
                    + encodeURIComponent(communication)
                    + '&amp;lastname='
                    + encodeURIComponent(basicweb);
            $.ajax({
                url : $("#sampleForm").attr("action"),
                data : data,
                type : "GET",
 
                success : function(response) {
                    alert( response );
                },
                error : function(xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
            return false;
        });
    });
 
  